@import "tailwindcss";

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 9 9 11;
  }
 
  .dark {
    --background: 9 9 11;
    --foreground: 250 250 250;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}
